.bs-animation {
  position: fixed;
  top: 0;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  transform: translate3d(0, 0, 0);
}

.bs-animation:empty {
  display: none;
}

@keyframes scaleFadeIn {
  0% {
    opacity: 0.5;
    transform: scale(0.3, 0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes scaleFadeOut {
  0% {
    opacity: 0.5;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
}

.bs-animation-scale_fade-show {
  animation-name: scaleFadeIn;
}

.bs-animation-scale_fade-hide {
  animation-name: scaleFadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bs-animation-fade-show {
  animation-name: fadeIn;
}

.bs-animation-fade-hide {
  animation-name: fadeOut;
}

@keyframes scaleIn {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}

.bs-animation-scale-show {
  animation-name: scaleIn;
}

.bs-animation-scale-hide {
  animation-name: scaleOut;
}